.button {
  background-color: $primary;
  color: $white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;

  &--full {
    width: 100%;
  }

  &:hover {
    background-color: $secondary;
  }

  &--inverted {
    background-color: transparent;
    border: 1px solid $white;

    &:hover {
      background-color: $sixth;
    }
  }
}



