.button {
  background-color: $primary;
  color: $white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;

  &:hover {
    background-color: $secondary;
  }

  &--inverted {
    background-color: transparent;
    color: $white;
    text-decoration: none;
    padding: 10px 36px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;

    &:hover {
      background-color: $gray;
    }
  }
}



