.content {
  background-color: $white;
  padding: 90px;
  text-align: center;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__box {
    padding: 40px 50px;
  }

  &__image {
    height: 40px;
    margin-bottom: 30px;
  }

  &__title {
    color: $terciary;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__subtitle {
    color: $quinary;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
  }
}

@include tablet {
  .content {
    &__main {
      display: flex;
      flex-direction: row;
    }

    &__box {
      padding: 0;
    }
  }
}

@include desktop {
  .content {
    &__main {
      display: flex;
      flex-direction: row;
      gap: 0;
    }

    &__box {
      padding: 40px 50px;
    }
  }
}