.packages {
  background-color: $seven;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    text-align: center;
    padding: 30px;
  }

  &__title {
    color: $tertiary;
    font-size: 40px;
    margin-bottom: 20px;
  }

  &__subtitle {
    color: $quinary;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 30px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__card {

    &__box {
      text-align: center;
      background-color: $white;
      border: 1px solid $primary;
      padding: 40px;
    }

    &__title {
      font-weight: bold;
      font-size: 30px;
      color: $tertiary;
      margin-bottom: 35px;
    }

    &__subtitle {
      color: $quinary;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    &__container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    &__price {
      color: $primary;
      font-size: 40px;
      font-weight: bold;
    }

    &__value {
      display: flex;
      flex-direction: column;
    }

    &__cifrao {
      color: $primary;
      font-size: 16px;
      font-weight: bold;
    }

    &__month {
      color: $nine;
      font-size: 14px;
    }

    &__image {
      display: flex;
      padding: 10px;
      align-items: center;
    }
  }

}