.register {
  background-color: $white;
  border-bottom: 10px solid $terciary;

  &__main {
    padding: 40px 50px;
  }

  &__image {
    background: url(../images/family-register-mobile.png) no-repeat center center; /* para imagem centralizar e nao repetir */
    height: 250px;
    background-size: cover; /* ocupa toda a tela */
  }

  &__title {
    color: $terciary;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 60px;
  }

  &__label {
    color: $terciary;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__input {
    background-color: $ten;
    color: $quinary;
    border: 1px solid $eighth;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 12px;
  }

  &__button {
    margin-top: 30px;
  }
}

@include tablet {
  .register {
    padding: 80px 50px;

    &__first {
      display: flex;
    }

    &__image {
      background: url(../images/family-register-web.png) no-repeat center center;
      width: 400px;
      height: auto;
    }

    &__main {
      padding: 20px;
    }
  }
}

@include desktop {
  .register {
    border-bottom: none;

    &__first {
      justify-content: center;
    }
  }
}