$primary: #23A6F0;
$secondary:#4eb2ec;
$terciary: #252B42;
$quinary: #737373;
$sixth :#adaaaa;
$seven :#FAFAFA;
$eighth: #DEDEDE;
$nine: #8EC2F2;
$ten: #F9F9F9;
$white: #FFFFFF;


$tablet-width: 768px;
$desktop-width: 1050px;