body {
  font-family: "montserrat", sans-serif;
}

.hero {
  background: url("../images/main.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}
.hero__title {
  font-size: 40px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 40px;
}
.hero__subtitle {
  font-size: 20px;
  color: #FFFFFF;
  line-height: 30px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.hero__box {
  padding: 80px;
}
.hero__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
}
.hero__card {
  background-color: #FFFFFF;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.hero__card--inverted {
  background-color: #23A6F0;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.hero__card__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero__card__title {
  color: #252B42;
  font-weight: bold;
  font-size: 24px;
}
.hero__card__title--inverted {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}
.hero__card__subtitle {
  color: #737373;
  font-weight: lighter;
  font-size: 14px;
}
.hero__card__subtitle--inverted {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 14px;
}

@media (min-width: 1050px) {
  .hero {
    height: 90%;
  }
  .hero__button {
    justify-content: center;
    flex-direction: row;
  }
  .hero__card__main {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .hero__button {
    justify-content: center;
    flex-direction: row;
  }

  .hero__card__main {
    flex-direction: row;
    align-items: stretch;
  }
}
.button {
  background-color: #23A6F0;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
}
.button:hover {
  background-color: #4eb2ec;
}
.button--modifier {
  background-color: #23A6F0;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 80px;
  border-radius: 5px;
  margin-top: 30px;
}
.button--inverted {
  background-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 36px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
}
.button--inverted:hover {
  background-color: #adaaaa;
}

.content {
  padding: 90px;
  background-color: #FFFFFF;
  text-align: center;
}
.content__main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.content__box {
  padding: 40px 50px;
}
.content__image {
  margin-bottom: 30px;
  height: 40px;
}
.content__title {
  color: #252B42;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content__subtitle {
  color: #737373;
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
}

@media (min-width: 768px) {
  .content__main {
    display: flex;
    flex-direction: row;
  }
  .content__box {
    padding: 0;
  }
}
@media (min-width: 1050px) {
  .content__main {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .content__box {
    padding: 40px 50px;
  }
}
.depositions {
  padding: 100px 20px;
  background-color: #FAFAFA;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.depositions__title {
  color: #252B42;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}
.depositions__subtitle {
  color: #737373;
  font-weight: lighter;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 50px;
}
.depositions__main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 300px;
}
.depositions__card {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  padding: 40px;
}
.depositions__image {
  margin-bottom: 30px;
}
.depositions__card__text {
  color: #737373;
  font-size: 16px;
  margin-bottom: 20px;
}

@media (min-width: 1050px) {
  .depositions__main {
    justify-content: center;
    flex-direction: row;
  }

  .depositions__card {
    padding: 30px 70px;
  }
}
@media (min-width: 768px) {
  .depositions__main {
    flex-direction: row;
    justify-content: center;
  }
}
.partners {
  background-color: #FAFAFA;
}
.partners__container {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
.partners__form {
  background-image: linear-gradient(to left, #D71489, #004788);
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.partners__text {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  padding: 10px 40;
  margin-bottom: 20px;
}
.partners__box {
  display: flex;
  flex-direction: row;
}
.partners__input {
  border: 0;
  padding: 20px;
  border-radius: 10px;
  border-radius: 5px 0 0 5px;
}
.partners__button {
  background-color: #23A6F0;
  color: #FFFFFF;
  border: 0;
  padding: 20px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .partners__container {
    flex-direction: row;
    justify-content: center;
    padding: 60px 40px;
  }
  .partners__image {
    width: 90%;
  }
  .partners__form {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
    flex-direction: row;
    gap: 15%;
  }
}
@media (min-width: 1050px) {
  .partners__form {
    width: 60%;
  }
  .partners__input {
    padding: 20px 60px;
  }
  .partners__button {
    padding: 20px;
  }
}
.packages {
  background-color: #FAFAFA;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.packages__box {
  text-align: center;
  padding: 30px;
}
.packages__title {
  color: #252B42;
  font-size: 40px;
  margin-bottom: 20px;
}
.packages__subtitle {
  color: #737373;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.packages__card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.packages__card__box {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #23A6F0;
  padding: 40px;
}
.packages__card__box--inverted {
  background-color: #252B42;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #23A6F0;
  padding: 40px;
}
.packages__card__title {
  font-weight: bold;
  font-size: 24px;
  color: #252B42;
  margin-bottom: 35px;
}
.packages__card__title--inverted {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 35px;
}
.packages__card__subtitle {
  color: #737373;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 24px;
}
.packages__card__subtitle--inverted {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 24px;
}
.packages__card__container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20;
}
.packages__card__price {
  color: #23A6F0;
  font-size: 40px;
  font-weight: bold;
}
.packages__card__value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.packages__card__cifrao {
  color: #23A6F0;
  font-size: 16px;
  font-weight: bold;
}
.packages__card__month {
  color: #8EC2F2;
  font-size: 14px;
}
.packages__card__image {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.packages__card__button {
  margin-top: 45px;
}

@media (min-width: 1050px) {
  .packages__subtitle {
    padding: 20px 100px;
  }
  .packages__box {
    padding: 112px 212px 80px 212px;
  }
  .packages__card {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .packages__card__box {
    border-radius: 10px;
  }
  .packages__card__box--inverted {
    border-radius: 10px;
    padding: 70px 40px;
    margin-top: -60px;
  }
}
.world {
  background-color: #252B42;
  padding: 80px 50px;
}
.world__title {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 60px;
}
.world__subtitle {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 90px;
}

@media (min-width: 768px) {
  .world {
    padding: 80px;
  }
  .world__box {
    display: flex;
    gap: 50px;
  }
}
@media (min-width: 1050px) {
  .world__center {
    padding: 80px;
    width: 60%;
  }
  .world__image {
    display: flex;
    align-items: center;
    padding: 0 50px 0 0;
    width: 50%;
  }
  .world__figure {
    width: 100%;
  }
}
.register {
  background-color: #FFFFFF;
  border-bottom: 10px solid #252B42;
}
.register__main {
  padding: 40px 50px;
}
.register__image {
  background: url(../images/family-register-mobile.png) no-repeat center center;
  height: 250px;
  background-size: cover;
}
.register__title {
  color: #252B42;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 60px;
}
.register__form {
  display: flex;
  flex-direction: column;
}
.register__form__label {
  color: #252B42;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.register__form__text {
  margin-bottom: 10px;
}
.register__form__input {
  background-color: #F9F9F9;
  color: #737373;
  border: 1px solid #DEDEDE;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 12px;
}
.register__button {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .register {
    padding: 80px 160px;
  }
  .register__first {
    display: flex;
  }
  .register__image {
    background: url(../images/family-register-web.png) no-repeat center center;
    width: 400px;
    height: auto;
  }
  .register__main {
    padding: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
